:root {
	--box-1: 1rem;
	--box-2: 2rem;
	--box-3: 3rem;
	--box-4: 4rem;
	--box-5: 5rem;
	--box-6: 6rem;

	--white: white;
	--whitesmoke: whitesmoke;
	--lightgray: lightgray;
	--silver: silver;
	--darkgray: darkgray;
	--gray: gray;
	--dimgray: dimgray;
	--black: black;
	--blue: blue;

	--normal: normal;
	--bold: bold;

	--font-size: 65.5%;
	--font-family: 'Work Sans', sans-serif;	
}
