@import url("./variables/variables.css");

* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after { box-sizing: border-box; }

html,
body { position: relative; }
body { font-family: var(--font-family)}
html { overflow-y: scroll; }
html { font-size: var(--font-size)}

a { text-decoration: none; }

ul,
ol { list-style: none; }
img { max-width: 100%; }

sub { vertical-align: sub; }
sup { vertical-align: super; }
